@media (min-width: 992px) {
    .navbar {
        top: 54px;
    }

    .imgh1 {
        height: 54px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFD54F;
        text-align: center;
    }

    .content {
      padding-top: 110px;
    }
}
